/Workshop3 - Backend1/DTABackend/target/DTAListyBackend/WEB-INF/classes/META-INF/persistence.xml
/Workshop3 - Backend1/DTABackend/target/DTAListyBackend.war
/Workshop3 - Backend1/DTABackend/target/classes/META-INF/persistence.xml
/Workshop3 - Backend1/DTABackend/target/maven-archiver/pom.properties
